[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
